<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Webleb</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="{{ asset('js/index.js') }}"></script>

    </head>
    <body>

            {% for i in 1..amount %}
                        <div id="card-{{ i }}">
                            <div class="id" style="visibility: hidden"></div>
                            <h1 class="name"></h1>
                            <p class="difficulty"></p>

                        <botton onclick="redireccionarAInformacion({{ i }})">Seleccionar</botton>
                        </div>

            {% endfor %}

            <boton id="guardarBtn">Guardar</boton>
            <script src="{{ asset('js/change.js') }}"></script>
            <script>window.amount = {{ amount }};</script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.2/cdn.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="{{ asset('js/app.js') }}"></script>
    </body>
</html>


