<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webleb</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

{% for ejercicio in ejercicios %}
    <div id="card-">
        <div class="id" style="visibility: hidden"></div>
        <h1 class="">{{ ejercicio.Name }}</h1>
        <p class="difficulty">{{ ejercicio.Difficulty }}</p>
    </div>

{% endfor %}

</body>
</html>