<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>FutBin</title>
            <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
            <script>
                window.onload = function() {
                    localStorage.clear();
                };
            </script>
        </head>
        <body>
            <header>
                <img class="FutDraft" src="{{ asset('img/FutDraft.png') }}">
                <button class="noselect"><span class="text">Logout</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>

            </header>
            <main>
                <div class="card-border">
                    <div class="card-bg">
                        <div class="container-logo">
                            <div class="logo"></div>
                            <div class="logo-inside">
                                <div class="first"></div>
                                <div class="second"></div>
                            </div>
                        </div>
                        <div id="blur-area"></div>
                        <div class="marquee">
                            <div class="marquee__inner" aria-hidden="true">

                            </div>
                        </div>
                    </div>
                    <strong id="text-name">{{ userId.name }}</strong>
                    <strong id="text-position">{{ userId.position }}</strong>
                </div>
                <div class="training_repository">
                    {% for training in trainings  %}
                        <div class="card">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="card-inner">
                                <a href="/selection/{{  training.id }}"><h2>Plan de entrenamiento {{ training.id }}</h2></a>
                            </div>
                        </div>
                    {% endfor %}
                        <div class="navigation">
                            {{ knp_pagination_render(trainings) }}
                        </div>
                    <button onclick="window.modal.showModal()"; class="new-training">
                        <p>Crea un nuevo entrenamiento</p>
                        <svg stroke-width="4" stroke="currentColor" viewBox="0 0 24 24" fill="none" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round" stroke-linecap="round"></path>
                        </svg>
                    </button>
                </div>


                <dialog id="modal">
                    <h2>Configura tu entrenamiento:</h2>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.amount) }}<br>
                        {{ form_errors(form.amount) }}
                        {{ form_widget(form.amount) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.comments) }}<br>
                        {{ form_errors(form.comments) }}
                        {{ form_widget(form.comments) }}
                    </div>

                    <div class="boton-wrap">
                      <a>{{ form_widget(form.Submit)}}</a>
                    </div>
                    {{ form_end(form) }}
                </dialog>

            </main>
            <footer>
            </footer>
        </body>
    </html>
