@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

body {
    background-image:url("../img/background-pitch.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.FutDraft{
    width:18% ;
    margin-left:40%;
}
/*Here starts for logout button*/
.noselect{
    float:right;
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}

.noselect, .noselect span {
    transition: 200ms;
}

.noselect .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

.noselect .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noselect svg {
    width: 15px;
    fill: #eee;
}

.noselect:hover {
    background: #ff3636;
}

.noselect:hover .text {
    color: transparent;
}

.noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.noselect:focus {
    outline: none;
}

.noselect:active .icon svg {
    transform: scale(0.8);
}
/*Here ends for logout button and starts for create a new training button*/
.new-training {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

.new-training {
    margin: 16% auto;
    --primary-color: aliceblue;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
}

.new-training p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
}

.new-training::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    height: 2px;
    transition: 0.3s ease-out;
}

.new-training p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    width: 0%;
    inset: 0;

    overflow: hidden;
    transition: 0.3s ease-out;
}

.new-training:hover::after {
    width: 100%;
}

.new-training:hover p::before {
    width: 100%;
}

.new-training:hover svg {
    transform: translateX(5px);

}

.new-training svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
}
/*Here ends for create a new training button an starts for card player*/
.card-border {
    float:left;
    z-index: 0;
    position: relative;
    padding: 1rem;
    width: 400px;
    height: 450px;
    box-sizing: border-box;
    background: transparent;
    backdrop-filter: blur(40px);
    border-radius: 0px 2rem;
    background-image: radial-gradient(#2121218a, #212121cc), linear-gradient(35deg,#124926 62%,#57ff94 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 1px 1px 3rem #57ff95;
    transition: all 0.5s;
    animation: pulse_3011 3s infinite;
}

.card-bg {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0px 0.8rem;
    background: linear-gradient(346.80deg, #124926 30%, #165c30 30%, rgba(255, 70, 84, 0) 30%, rgba(255, 70, 84, 0) 32%, #124926 32%, #124926  35%, transparent 35%);
}

strong {
    display: flex;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Open Sans Pro', sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    align-items: center;
    letter-spacing: 0.5rem;
}

#text-name {
    position: absolute;
    top: 20.35rem;
    left: 13.5rem;
    width: 100%;
    height: fit-content;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    background: linear-gradient(90deg,  transparent 100%, #ffffff  65%);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
}

#text-position {
    position: absolute;
    top: 22.35rem;
    left: 19.5rem;
    width: 100%;
    height: fit-content;
    color:white;
    font-family: 'Monomaniac One', sans-serif;
}

.marquee {
    top: 0;
    z-index: -5;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    --offset: 2rem;
    --move-initial: calc(-20% + var(--offset));
    --move-final: calc(-85% + var(--offset));
    border-radius: 0px 1rem;
    filter: opacity(0.3);
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: slide 60s linear infinite;
    border-radius: 0px 1rem;
}

.marquee__inner {
    animation-play-state: running;
}

#blur-area {
    display: block;
    position: absolute;
    z-index: -1;
    inset: 0;
    /* border: 1px solid rgb(12, 255, 65); */
    border-radius: 0 1rem;
    backdrop-filter: blur(3px);
    background: linear-gradient(90deg, transparent  0%, #00000044 100%);
}

.container-logo {
    display: flex;
    position: absolute;
    width: 3.5rem;
    height: 3em;
    top: 1rem;
    left: 1rem;
    align-items: center;
    justify-content: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.logo {
    position: absolute;
    width: 200%;
    height: 200%;
    background: conic-gradient(#228647 0%, #fff 10%, #7bffac 25%, #0d381c 50%, #1ccc5d 70%, #69b384 90%);
    animation: spin 5s linear infinite;
}

.logo-inside {
    display: flex;
    width: 85%;
    height: 85%;
    align-items: center;
    justify-content: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: #212121;
}

.first, .second {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #57ff95;
}

.first {
    clip-path: polygon(0 10%, 70% 90%, 35% 90%, 0 50%);
}

.second {
    clip-path: polygon(100% 10%, 100% 50%, 88% 65%, 55% 65%);
}

svg {
    position: absolute;
    top: 0%;
    width: 18rem;
    height: 100%;
    z-index: -2;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slide {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}
/*Here ends the player´s card and starts the training repository*/
.training_repository{
    float:right;
    margin-right:5%;

}
.card {
    width: 450px;
    height: 100px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;

}

.card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.card:hover {
    transform: scale(1.04) rotate(1deg);
}

.circle {
    width: 100px;
    height: 100px;
    background-image:url("../img/pelota.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -25px;
    left: -25px;
}

.circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
}

@keyframes move-up6 {
    to {
        transform: translateY(-10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(10px);
    }
}
/*Here starts the pagination css*/
.current{
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 22px;
}
.pagination {
    width:fit-content;
    margin:16px auto;

}
.pagination a {
    background-color:whitesmoke;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;
}



