<html>
<head>
    <!-- Otros encabezados -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/exercise.css">
    <!-- Importar el archivo JavaScript -->
    <script src="{{ asset('js/exercise.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', fetchAndPrintExercises);
    </script>
</head>
<body>
    <button class="tablink" onclick="openPage('FIS', this, 'red')" id="defaultOpen">Ejercicios Físicos</button>
    <button class="tablink" onclick="openPage('POR', this, 'green')">Portería</button>
    <button class="tablink" onclick="openPage('DEF', this, 'blue')">Defensa</button>
    <button class="tablink" onclick="openPage('PAS', this, 'orange')">Pase</button>
    <button class="tablink" onclick="openPage('REG', this, 'green')">Regate</button>
    <button class="tablink" onclick="openPage('ATQ', this, 'blue')">Disparo</button>
    <button class="tablink" onclick="openPage('JGE', this, 'orange')">Jugadas Ensayadas</button>

    <div id="FIS" class="tabcontent">
        <!-- Contenedor donde se mostrarán los datos de los ejercicios -->
        <div class="container" id="exercise-container"></div>
    </div>

</body>
<script src="{{ asset('js/tabpanel.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.2/cdn.js"></script>
<script>
    actualizarDivEnPlantilla1();
</script>
<script src="{{ asset('js/index.js') }}"></script>
</html>