<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/exercise.css">
    <style>

    </style>

</head>
<body>

<button class="tablink" onclick="openPage('FIS', this, 'red')" id="defaultOpen">Ejercicios Físicos</button>
<button class="tablink" onclick="openPage('POR', this, 'green')">Portería</button>
<button class="tablink" onclick="openPage('DEF', this, 'blue')">Defensa</button>
<button class="tablink" onclick="openPage('PAS', this, 'orange')">Pase</button>
<button class="tablink" onclick="openPage('REG', this, 'green')">Regate</button>
<button class="tablink" onclick="openPage('ATQ', this, 'blue')">Disparo</button>
<button class="tablink" onclick="openPage('JGE', this, 'orange')">Jugadas Ensayadas</button>

    <div id="FIS" class="tabcontent">
        <div class="slider" x-data="{start: true, end: false}" style="padding-top: 150px;">
            <div class="slider__content" x-ref="slider" x-on:scroll.debounce="$refs.slider.scrollLeft == 0 ? start = true : start = false; Math.abs(($refs.slider.scrollWidth - $refs.slider.offsetWidth) - $refs.slider.scrollLeft) < 5 ? end = true : end = false;">

                {% for ex in exercise %}
                    <div  class="slider__item" >
                        <div class="slider__info">
                            <p id="title">{{ ex.name }}</p>
                            <p id="description">{{ ex.description }}</p>
                            <p id="difficulty">{{ ex.difficulty }}</p>
                            <p onclick="select()">Recolectar</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="slider__nav" style="display: flex;justify-content: center;">
                <button class="slider__nav__button" x-on:click="$refs.slider.scrollBy({left: $refs.slider.offsetWidth * -1, behavior: 'smooth'});" x-bind:class="start ? '' : 'slider__nav__button--active'">Previous</button>
                <button class="slider__nav__button" x-on:click="$refs.slider.scrollBy({left: $refs.slider.offsetWidth, behavior: 'smooth'});" x-bind:class="end ? '' : 'slider__nav__button--active'">Next</button>
            </div>
            </div>

    </div>
    <div id="POR" class="tabcontent">
        <h3>Portería</h3>
        <p>Lista de ejercicios para portería</p>
    </div>

    <div id="DEF" class="tabcontent">
        <h3>Defensa</h3>
        <p>Lista de ejercicios para defensa</p>
    </div>

    <div id="PAS" class="tabcontent">
        <h3>Pase</h3>
        <p>Lista de ejercicios para pase</p>
    </div>

    <div id="REG" class="tabcontent">
        <h3>Regate</h3>
        <p>Lista de ejercicios para regate</p>
    </div>

    <div id="ATQ" class="tabcontent">
        <h3>Ataque</h3>
        <p>Lista de ejrcicios para ataque</p>
    </div>

    <div id="JGE" class="tabcontent">
        <h3>Jugadas Ensayadas</h3>
        <p>Lista de ejercicios para jugadas ensayadas</p>
    </div>

<script src="{{ asset('js/tabpanel.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.2/cdn.js"></script>
<script src="app.js"></script>

</body>
</html>