<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Sign in {% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
            <h4>Sign In</h4>
            {{ form_start(formulario) }}
            {{ form_errors(formulario) }}

            <div>
                {{ form_label(formulario.email) }}
                {{ form_errors(formulario.email) }}
                {{ form_widget(formulario.email) }}
            </div>

            <div>
                {{ form_label(formulario.password) }}
                {{ form_errors(formulario.password) }}
                {{ form_widget(formulario.password) }}
            </div>

            <div>
                {{ form_label(formulario.name) }}
                {{ form_errors(formulario.name) }}
                {{ form_widget(formulario.name) }}
            </div>

            <div>
                {{ form_label(formulario.age) }}
                {{ form_errors(formulario.age) }}
                {{ form_widget(formulario.age) }}
            </div>

            <div>
                {{ form_label(formulario.position) }}
                {{ form_errors(formulario.position) }}
                {{ form_widget(formulario.position) }}
            </div>

            <div>
                {{ form_label(formulario.height) }}
                {{ form_errors(formulario.height) }}
                {{ form_widget(formulario.height) }}
            </div>

            <div>
                {{ form_label(formulario.weight) }}
                {{ form_errors(formulario.weight) }}
                {{ form_widget(formulario.weight) }}
            </div>
            <div>
                {{ form_widget(formulario.register) }}<br>
                <a href="/login">¿Ya estas registrado? Login</a>
            </div>

            {{ form_end(formulario) }}
</body>
</html>