<!DOCTYPE html>
<html>
<head>
    <title>Mi aplicación Vue</title>
</head>
<body>
<div id="app">
    <!-- Aquí es donde se renderizará tu aplicación Vue -->
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/assets/hello_controller.js"></script> <!-- Archivo JavaScript principal donde inicializas Vue -->
</body>
</html>